{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .home-wrapper {
        background: #f76300;
        color: #ffffff;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .navbar {
        z-index: 2;
        background-color: rgba(248, 249, 250, .2) !important;
    }
    h1 {
        position: relative;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
</style>

<div class="home-wrapper">
    <h1 class="text-center display-4">Hello {{ app.user.name }}!</h1>
</div>
{% endblock %}
