.ito-wrapper {
    margin: 1em auto;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

.navbar-brand {
    color: #f76200;
    -webkit-transition: padding .2s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: padding .2s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    position: absolute;
    top: 0;
    left: 10px;
    padding: 1.1rem .65rem .8rem .85rem;
    margin-right: 3rem;
    min-height: 4.3rem;
    background-color: #f76200;
    -webkit-transform: translate(0);
    transform: translate(0);
}

.navbar {
    padding-left: 5rem;
}

@media (min-width: 768px) {
    .navbar-brand-extended {
        padding-top: 3.2rem;
    }
}